* {
    font-family: 'Dancing Script';
}

body {
    margin: 0;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.test:hover {
    opacity: 1
}

.test {
    font-size: 36px;
    color: red;
    margin-top: 25px;
    text-align: center;
    opacity: 0;
    transition: opacity 1s
}​

